altair==6.2.2
datasets==5.0.1
fastapi==0.141.1
numpy==2.5.2
opencv_python==4.13.0.92
pandas==3.0.5
Pillow==12.3.0
pydantic==2.13.5
PyJWT==2.13.0
python_bcrypt==0.3.2
pytorch_lightning==2.6.0
Requests==2.34.2
SQLAlchemy==2.0.52
streamlit==1.62.0
torch==2.10.0
torchvision==0.25.0
tqdm==4.66.3
ultralytics==8.4.61
uvicorn==0.52.4
vega_datasets==0.9.0
yfinance==1.7.0
